node_modules/
*.pyc
__pycache__/
venv/
.venv/
env/
.env
.env.development
.env.production
.mypy_cache/
/application.yml
application.yml
app.yaml
dispatch.yaml
.gcloudignore
app.yaml
app-default.yaml
dispatch.yaml
legal-connect-25-5e433a148e66.json

.env.development
.env.production
# IDE directories
.idea/
.vscode/
jaas-key.pk