node_modules/
*.pyc
__pycache__/
venv/
.venv/
env/
.env
.env.development
.env.production
.mypy_cache/
/application.yml
application.yml
app.yaml
application-prod.yml
app-default.yaml
dispatch.yaml
legal-connect-25-5e433a148e66.json

# IDE directories
.idea/
.vscode/
jaas-key.pk
