langchain
langchain-google-genai
langchain-core
langchain_community
langchain-text-splitters
docx2txt
pypdf
langchain_chroma
python-multipart
fastapi
uvicorn[standard]
psycopg2-binary
python-dotenv
chromadb
unstructured[html]
google-generativeai
