<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property name="LOG_PATH" value="/tmp/logs"/>
	<property name="LOG_FILE" value="${LOG_PATH}/legalconnect.log"/>

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %highlight(%-5level){FATAL=red blink, ERROR=red, WARN=yellow, INFO=green, DEBUG=blue, TRACE=cyan} %cyan(%logger{36}) - %msg%n</pattern>
		</encoder>
	</appender>

	<!-- Optional rolling file appender only if FILE_LOGGING is enabled -->
	<if condition='property("FILE_LOGGING").equalsIgnoreCase("true")'>
		<then>
			<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
				<file>${LOG_FILE}</file>
				<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
					<fileNamePattern>${LOG_PATH}/legalconnect.%d{yyyy-MM-dd}.log</fileNamePattern>
					<maxHistory>7</maxHistory>
				</rollingPolicy>
				<encoder>
					<pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
				</encoder>
			</appender>
		</then>
	</if>

	<logger name="com.javajedis.legalconnect" level="DEBUG"/>
	<root level="INFO">
		<appender-ref ref="CONSOLE"/>
		<if condition='property("FILE_LOGGING").equalsIgnoreCase("true")'>
			<then>
				<appender-ref ref="FILE"/>
			</then>
		</if>
	</root>
</configuration> 